In [6]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [12]:
#Datenpfad und Verzeichnisse
DATA_DIR = "data"
RAW_DATA_FILE = os.path.join(DATA_DIR, "all_energy_statistics.csv")
OUTPUT_DIR = "output"

# Sicherstellen, dass das Output-Verzeichnis existiert
os.makedirs(OUTPUT_DIR, exist_ok=True)

# 3. Rohdaten laden

try:
    df = pd.read_csv(RAW_DATA_FILE)
    print("Daten erfolgreich geladen. Vorschau:")
    display(df.head())
except FileNotFoundError:
    print(f"Fehler: Datei {RAW_DATA_FILE} nicht gefunden.")

Daten erfolgreich geladen. Vorschau:

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates

In [ ]:
# Überblick über die Struktur der Rohdaten

print(f"Anzahl Zeilen und Spalten: {df.shape}")
print("\nSpaltennamen:")
print(df.columns.tolist())

print("\nFehlende Werte pro Spalte:")
print(df.isnull().sum())

print("\nDatentypen:")
print(df.dtypes)

Anzahl Zeilen und Spalten: (1189482, 7)

Spaltennamen:
['country_or_area', 'commodity_transaction', 'year', 'unit', 'quantity', 'quantity_footnotes', 'category']

Fehlende Werte pro Spalte:
country_or_area                0
commodity_transaction          0
year                           0
unit                           0
quantity                       0
quantity_footnotes       1025536
category                       0
dtype: int64

Datentypen:
country_or_area           object
commodity_transaction     object
year                       int64
unit                      object
quantity                 float64
quantity_footnotes       float64
category                  object
dtype: object

In [13]:
# Zeilen mit vorhandenen (nicht NaN) Footnotes anzeigen
df_footnotes = df[df["quantity_footnotes"].notna()]

# Vorschau der ersten Zeilen mit Footnotes
display(df_footnotes.head())

# Übersicht: Wieviele Zeilen haben eine Footnote?
print(f"Anzahl Zeilen mit Footnotes: {df_footnotes.shape[0]}")

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
622,Colombia,Additives and Oxygenates - Production,2014,"Metric tons, thousand",34.53,1.0,additives_and_oxygenates
1369,Colombia,Additives and Oxygenates - Total energy supply,2014,"Metric tons, thousand",34.53,1.0,additives_and_oxygenates
1886,Colombia,Additives and Oxygenates - transfers and recyc...,2014,"Metric tons, thousand",34.53,1.0,additives_and_oxygenates
2250,Jordan,Additives and Oxygenates - Transformation,2014,"Metric tons, thousand",103.00,1.0,additives_and_oxygenates
2251,Jordan,Additives and Oxygenates - Transformation,2013,"Metric tons, thousand",101.00,1.0,additives_and_oxygenates

Anzahl Zeilen mit Footnotes: 163946

## Cleaning of commodity

In [16]:
# Maximal 100 Zeilen in der Ausgabe anzeigen, damit wir viele Einträge auf einmal sehen können
pd.set_option('display.max_rows', 100)

In [17]:
# Verteilung der Hauptkategorien (nur zur Information)
display(df.category.value_counts())

category
total_electricity                                              133916
gas_oil_diesel_oil                                              97645
fuel_oil                                                        75132
natural_gas_including_lng                                       64161
liquified_petroleum_gas                                         62156
motor_gasoline                                                  53198
fuelwood                                                        52032
electricity_net_installed_capacity_of_electric_power_plants     50229
other_kerosene                                                  43466
hard_coal                                                       42307
kerosene_type_jet_fuel                                          34558
heat                                                            29656
charcoal                                                        28000
conventional_crude_oil                                          27352
other_bituminous_coal                                           23138
other_oil_products_n_e_c                                        22081
lubricants                                                      21374
bitumen                                                         20743
brown_coal                                                      19729
aviation_gasoline                                               18171
petroleum_coke                                                  16494
naphtha                                                         15969
refinery_gas                                                    15706
other_vegetal_material_and_residues                             13959
bagasse                                                         12579
lignite                                                         12461
blast_furnace_gas                                               11963
coke_oven_coke                                                  11846
biogases                                                        10885
white_spirit_and_special_boiling_point_industrial_spirits       10079
natural_gas_liquids                                              8579
industrial_waste                                                 8559
paraffin_waxes                                                   7928
gasworks_gas                                                     6842
municipal_wastes                                                 6800
coking_coal                                                      6470
brown_coal_briquettes                                            5903
total_refinery_output                                            5783
refinery_feedstocks                                              5696
thermal_electricity                                              5489
sub_bituminous_coal                                              5405
peat                                                             5313
anthracite                                                       4894
biodiesel                                                        4568
black_liquor                                                     4154
biogasoline                                                      3871
hydro                                                            3744
direct_use_of_solar_thermal_heat                                 3649
patent_fuel                                                      3235
additives_and_oxygenates                                         3018
of_which_biodiesel                                               2624
direct_use_of_geothermal_heat                                    2436
coal_tar                                                         2245
of_which_biogasoline                                             2170
other_recovered_gases                                            2105
ethane                                                           2014
other_hydrocarbons                                               1962
animal_waste                                                     1922
peat_products                                                    1707
other_liquid_biofuels                                            1617
wind_electricity                                                 1367
gasoline_type_jet_fuel                                           1293
falling_water                                                     962
solar_electricity                                                 953
nuclear_electricity                                               756
oil_shale_oil_sands                                               756
uranium                                                           684
geothermal                                                        496
gas_coke                                                          365
other_coal_products                                               105
tide_wave_and_ocean_electricity                                    58
Name: count, dtype: int64

In [18]:
# Übersicht über die seltensten commodity_transaction-Einträge
display(df.commodity_transaction.value_counts().tail(50))

commodity_transaction
Kerosene-type Jet Fuel - Transformation in CHP plants - main activity producers                       1
Patent fuel - Consumption by non-ferrous metals                                                       1
White spirit and special boiling point industrial spirits - Consumption by textile and leather        1
Biogasoline - Consumption not elsewhere specified (transport)                                         1
Paraffin waxes - Consumption by wood and wood products                                                1
Paraffin waxes - Consumption by transport equipment                                                   1
Blast Furnace Gas - Consumption by food and tobacco                                                   1
White spirit and special boiling point industrial spirits - Consumption by wood and wood products     1
White spirit and special boiling point industrial spirits - Consumption by transport equipment        1
Paraffin waxes - Consumption by paper, pulp and print                                                 1
Paraffin waxes - Consumption by textile and leather                                                   1
Lubricants - Consumption by machinery                                                                 1
Other liquid biofuels - Transformation in heat plants - autoproducers                                 1
Biogases - Stock changes                                                                              1
Other bituminous coal - other transformation                                                          1
Refinery gas - Transformation in coke ovens                                                           1
Charcoal - Consumption by machinery                                                                   1
Charcoal - Consumption by non-ferrous metals                                                          1
Conventional crude oil - consumption by mining and quarrying                                          1
Charcoal - Consumption by non-metallic minerals                                                       1
Charcoal - Consumption by paper, pulp and print                                                       1
Naphtha - Consumption by commerce and public services                                                 1
Blast Furnace Gas - Consumption by mining and quarrying                                               1
Charcoal - Transformation in electricity plants - main activity producers                             1
Naphtha - Consumption by textile and leather                                                          1
Natural gas liquids - Transformation in CHP plants - autoproducers                                    1
Natural gas liquids - Own use by electricity, heat and CHP plants                                     1
Anthracite - own use by briquetting plants                                                            1
Coking coal - consumption not elsewhere specified (transport)                                         1
Coking coal - consumption by domestic navigation                                                      1
Anthracite - consumption by wood and wood products industry                                           1
Brown coal briquettes - Receipts from other sources                                                   1
Direct use of geothermal heat - Consumption by iron and steel                                         1
Lubricants - Receipts from other sources                                                              1
Lubricants - Consumption by food and tobacco                                                          1
Naphtha - Transformation in heat plants - main activity producers                                     1
Other kerosene - Transformation in heat plants - autoproducers                                        1
Blast Furnace Gas - Consumption by paper, pulp and print                                              1
Lubricants - Consumption by non-ferrous metals                                                        1
Lubricants - Consumption by non-metallic minerals                                                     1
Blast Furnace Gas - Consumption by transport equipment                                                1
Lubricants - Consumption by paper, pulp and print                                                     1
Other kerosene - Receipts from other sources                                                          1
Lubricants - Consumption by textile and leather                                                       1
Lubricants - Consumption by transport equipment                                                       1
Biodiesel - Net transfers                                                                             1
Lubricants - Consumption by wood and wood products                                                    1
Refinery Gas - Consumption by mining and quarrying                                                    1
Refinery Gas - Consumption by transport equipment                                                     1
Lignite - Consumption by domestic navigation                                                          1
Name: count, dtype: int64

In [19]:
# Vorschau: Wie sehen die ersten commodity_transaction-Einträge aus?
display(df.commodity_transaction.head())

0    Additives and Oxygenates - Exports
1    Additives and Oxygenates - Exports
2    Additives and Oxygenates - Exports
3    Additives and Oxygenates - Exports
4    Additives and Oxygenates - Exports
Name: commodity_transaction, dtype: object

In [20]:
# Anzahl Trennzeichen in den commodity_transaction-Strings zählen
display(df.commodity_transaction.str.count(" - | – ").value_counts())

commodity_transaction
1    1135821
2      47472
0       6189
Name: count, dtype: int64

In [21]:
# Aufteilen in drei neue Spalten: commodity, transaction_type und additional_transaction_info
split_commodities = df.commodity_transaction.str.split(" - | – ", expand=True)

# Vorschau auf die neuen Spalten
display(split_commodities.head())

                          0        1     2
0  Additives and Oxygenates  Exports  None
1  Additives and Oxygenates  Exports  None
2  Additives and Oxygenates  Exports  None
3  Additives and Oxygenates  Exports  None
4  Additives and Oxygenates  Exports  None

In [22]:
# Übersicht: Inhalt der zweiten Spalte (transaction_type)
display(split_commodities[1].str.lower().value_counts())

# Übersicht: Inhalt der dritten Spalte (additional_transaction_info)
display(split_commodities[2].str.lower().value_counts())

# Übersicht: Inhalt der ersten Spalte (commodity)
display(split_commodities[0].str.lower().str.strip().value_counts())

1
total energy supply                         89806
final consumption                           73149
final energy consumption                    68195
imports                                     61151
production                                  61129
                                            ...
consumption by lng/regasification plants        3
own use by charcoal plants                      3
own use by gasworks                             2
non energy uses                                 1
net transfers                                   1
Name: count, Length: 224, dtype: int64

2
main activity producers    18462
autoproducers              15788
electricity plants          5887
chp plants                  3974
heat plants                 1854
total                       1507
Name: count, dtype: int64

0
electricity                                                  165140
gas oil/ diesel oil                                           97645
fuel oil                                                      75132
natural gas (including lng)                                   64161
motor gasoline                                                53198
fuelwood                                                      52032
liquefied petroleum gas (lpg)                                 49078
other kerosene                                                43466
hard coal                                                     40214
kerosene-type jet fuel                                        34558
charcoal                                                      28000
other bituminous coal                                         23138
other oil products n.e.c.                                     22081
lubricants                                                    21374
conventional crude oil                                        21160
heat                                                          21116
bitumen                                                       20743
from combustible fuels                                        20119
brown coal                                                    18616
aviation gasoline                                             18171
petroleum coke                                                16494
naphtha                                                       15969
refinery gas                                                  15706
vegetal waste                                                 13959
liquified petroleum gas (lpg)                                 13078
bagasse                                                       12579
lignite                                                       12461
blast furnace gas                                             11963
coke oven gas                                                 11846
biogases                                                      10885
white spirit and special boiling point industrial spirits     10079
natural gas liquids                                            8579
industrial waste                                               8559
paraffin waxes                                                 7928
gasworks gas                                                   6842
municipal wastes                                               6797
coking coal                                                    6470
crude petroleum                                                6192
brown coal briquettes                                          5903
feedstocks                                                     5696
sub-bituminous coal                                            5405
hydro                                                          5039
anthracite                                                     4894
biodiesel                                                      4568
peat                                                           4159
black liquor                                                   4154
biogasoline                                                    3871
direct use of solar thermal heat                               3649
electricity generating capacity                                3304
patent fuel                                                    3235
additives and oxygenates                                       3018
total refinery throughput                                      2893
total refinery output                                          2890
of which: biodiesel                                            2624
direct use of geothermal heat                                  2436
coal tar                                                       2245
of which: biogasoline                                          2170
other recovered gases                                          2105
ethane                                                         2014
other hydrocarbons                                             1962
animal waste                                                   1922
heat production                                                1877
peat products                                                  1707
nuclear                                                        1698
wind                                                           1681
other liquid biofuels                                          1617
geothermal                                                     1553
gasoline-type jet fuel                                         1293
coal                                                           1198
solar                                                          1155
peat (for fuel use)                                            1154
from other sources                                             1119
solar photovoltaic                                              974
falling water                                                   962
hrad coal                                                       895
oil shale                                                       756
of which: pumped hydro                                          731
lignite brown coal                                              707
uranium                                                         684
lignite brown coal- recoverable resources                       406
gas coke                                                        365
from chemical sources                                           313
from chemical heat                                              307
from electric boilers                                           182
solar thermal                                                   163
from heat pumps                                                 135
other coal products                                             105
tide, wave and marine                                            58
municipal waste                                                   3
Name: count, dtype: int64

In [23]:
# Anzeige erweitern, um mehr Werte zu sehen
pd.set_option('display.max_rows', 250)

# Kleinbuchstaben und Entfernen von Leerzeichen vorne/hinten
split_commodities[1] = split_commodities[1].str.lower().str.strip()

# Korrektur von häufigen Tippfehlern und unsauberen Schreibweisen
split_commodities[1] = split_commodities[1].str.replace("transformatin", "transformation", regex=False)
split_commodities[1] = split_commodities[1].str.replace("non energy uses", "consumption for non-energy uses", regex=False)
split_commodities[1] = split_commodities[1].str.replace(" /", "/", regex=False)
split_commodities[1] = split_commodities[1].str.replace("/ ", "/", regex=False)

# Kontrolle: Verteilung der bereinigten transaction_type
display(split_commodities[1].value_counts())

1
total energy supply                                                                    89806
final consumption                                                                      73149
final energy consumption                                                               68195
imports                                                                                61151
production                                                                             61129
consumption by other                                                                   43549
exports                                                                                36052
transformation                                                                         35725
stock changes                                                                          32816
consumption by households                                                              32367
production from refineries                                                             29273
consumption by other manuf., const. and non-fuel ind.                                  25817
transformation in electricity, chp and heat plants                                     24407
main activity                                                                          22947
consumption by manufacturing, construction and non-fuel industry                       22888
consumption by transport                                                               22343
non-energy uses                                                                        17862
energy industries own use                                                              17475
consumption by manufacturing, construction and non-fuel mining industry                16406
transformation in electricity plants                                                   15459
consumption in agriculture, forestry and fishing                                       12421
autoproducer                                                                           12280
consumption in road                                                                    12259
consumption not elsewhere specified (other)                                            12185
consumption by commerce and public services                                            11534
losses                                                                                 11504
transformation in chp plants                                                           10776
own use by oil refineries                                                              10657
consumption not elsewhere specified (industry)                                         10392
consumption by chemical and petrochemical                                              10142
consumption by iron and steel                                                           9487
consumption by other manuf., const. and non-fuel min. ind.                              8995
consumption by non-metallic minerals                                                    8893
transfers and recycled products                                                         8108
consumption by paper, pulp and print                                                    7863
consumption by food and tobacco                                                         7773
own use by electricity, heat and chp plants                                             6976
gross demand                                                                            6808
gross production                                                                        6800
net production                                                                          6799
transformation in heat plants                                                           6218
consumption by machinery                                                                6044
international aviation bunkers                                                          5752
consumption by construction                                                             5622
consumption by textile and leather                                                      5534
total production, main activity                                                         5523
total net installed capacity of electric power plants, main activity & autoproducer     5521
total net installed capacity of electric power plants, main activity                    5521
international marine bunkers                                                            5516
total thermal production                                                                5489
total net installed capacity of electric power plants, combustible fuels                5487
net installed capacity of electric power plants, public combustible fuels               5478
transformation in oil refineries                                                        5418
consumption by mining and quarrying                                                     5068
consumption by wood and wood products                                                   4667
consumption by non-ferrous metals                                                       4454
consumption by transport equipment                                                      4043
total net installed capacity of electric power plants, hydro                            3790
total net installed capacity of electric power plants, autoproducer                     3765
net installed capacity of electric power plants, public hydro                           3762
own use by oil and gas extraction                                                       3747
total hydro production                                                                  3744
consumption by commercial and public services                                           3699
net installed capacity of electric power plants, self-producer combustible fuels        3695
total production, autoproducer                                                          3676
own use by coal mines                                                                   3449
transformation in charcoal plants                                                       3373
consumption by industries not elsewhere specified                                       3108
refinery capacity                                                                       3043
other energy industry own use                                                           2835
receipts from other sources                                                             2806
consumption by iron and steel industry                                                  2704
consumption by agriculture, forestry and fishing                                        2602
consumption by domestic aviation                                                        2582
consumption not elsewhere specified (transport)                                         2431
own use by coke ovens                                                                   2407
other transformation                                                                    2397
consumption by rail                                                                     2360
memo:gross production                                                                   2299
reserves                                                                                2290
consumption in rail                                                                     2233
transformation in coke ovens                                                            2196
consumption in domestic aviation                                                        2128
consumption by non-metallic minerals industry                                           2100
consumption by road                                                                     2022
consumption by domestic navigation                                                      1925
consumption by chemical and petrochemical industry                                      1919
own use by electricity, chp and heat plants                                             1878
consumption in domestic navigation                                                      1766
production from plants                                                                  1764
transformation in petrochemical plants                                                  1570
consumption by other consumers                                                          1555
net installed capacity of electric power plants, self-producer hydro                    1507
solar pv                                                                                1474
consumption by food and tobacco industry                                                1463
total net installed capacity of electric power plants, wind                             1431
consumption in transport                                                                1402
consumption by other consumers not elsewhere specified                                  1397
total wind production                                                                   1367
net installed capacity of electric power plants, public wind                            1344
consumption by other manufacturing, construction and non-fuel mining industry           1278
transformation in main activity electricity plants                                      1250
pumped hydro                                                                            1212
consumption by machinery industry                                                       1189
main activity total                                                                     1154
flared and vented                                                                       1136
consumption by non-ferrous metals industry                                              1111
transformation in autoproducer chp plants                                               1109
total net installed capacity of electric power plants, solar                            1088
total resources                                                                         1071
transformation in blast furnaces                                                        1019
consumption by pipeline transport                                                       1002
transformation in gas works                                                             1000
transformation in briquetting plants                                                     963
total hydraulic resources                                                                962
total solar production                                                                   953
consumption by mining and quarrying industry                                             952
own use by gas works                                                                     913
consumption for non-energy uses                                                          841
consumption by textile and leather industry                                              802
net installed capacity of electric power plants public solar                             764
net installed capacity of electric power plants, public nuclear                          756
total nuclear production                                                                 756
total net installed capacity of electric power plants, nuclear                           756
own use by pump-storage plants                                                           753
total resources in place                                                                 750
changes in stocks                                                                        750
transformation in main activity producer electricity plants                              737
extraction loss shrinkage                                                                723
autoproducer total                                                                       723
total known reserves                                                                     663
transformation in autoproducer electricity plants                                        626
transformation in main activity chp plants                                               619
own use by blast furnaces                                                                614
consumption by construction industry                                                     610
own use by briquetting plants                                                            609
re-injected                                                                              562
consumption by transport equipment industry                                              548
transformation in autoproducer heat plants                                               541
net installed capacity of electric power plants, self-producer solar                     527
total net installed capacity of electric power plants, geothermal                        525
consumption by wood and wood products industry                                           512
from other sources                                                                       504
net installed capacity of electric power plants, public geothermal                       503
total geothermal production                                                              496
flared                                                                                   475
transformation in main activity producer chp plants                                      471
production from off-shore                                                                465
recoverable reserves                                                                     463
consumption in commerce and public services                                              454
net installed capacity of electric power plants, self-producer wind                      424
transformation in main activity heat plants                                              355
additional resources                                                                     350
consumption by food, beverage and tobacco industry                                       300
transformation in main activity producer heat plants                                     281
own use by lng/regasification plants                                                     277
non-energy use                                                                           256
transformation in natural gas blending plants                                            233
vented                                                                                   219
consumption by other transportation                                                      211
used for electricity production                                                          207
used for electric boilers                                                                184
consumption by other manufacturing, construction and non-fuel                            181
own use by nuclear fuel extraction and processing                                        177
reserves from oil shale and tar sands                                                    155
consumption by industry & construction                                                   136
consumption by coal mines                                                                133
used for heat pumps                                                                      130
consumption by other industries and construction                                         128
consumption in households                                                                118
solar thermal                                                                            114
reserves from oil shale                                                                  102
transformation main activity chp plants                                                  100
recoverable                                                                               94
net installed capacity of electric power plants, self-producer geothermal                 94
transformation in other energy-producing plants                                           83
consumption by other transport                                                            80
total net installed capacity of electric power plants, tide, wave, marine                 77
reserves from tar sands                                                                   77
consumption by energy sector                                                              71
reasonably assured reserves                                                               61
net installed capacity of electric power plants, public tide, wave, marine                61
transformation in coal liquefaction plants                                                58
total tide, wave production                                                               58
commerce and public services                                                              57
transformation in gas-to-liquid plants                                                    54
consumption by chemical industry                                                          54
own use by biogas production plants                                                       52
transformation main activity heat plants                                                  48
consumption by briquetting plants                                                         47
estimated additional reserves                                                             42
own use by coal liquefaction plants                                                       40
net installed capacity of electric power plants, self-producer nuclear                    33
own use by other energy producers                                                         27
own use in coal mines                                                                     26
conversion in briquetting plants                                                          22
net installed capacity of electric power plants, self-producer tide, wave, marine         16
consumption by chemical and petrochemicalindustry                                         16
own use in electricity, chp and heat plants                                               13
other reserves                                                                            12
own use in coke ovens                                                                      9
consumption by electricity, chp and heat plants                                            9
memo: opening stock level (national territory)                                             8
memo: closing stock level (national territory)                                             8
own use by gas-to-liquid (gtl) plants                                                      8
conversion in blast furnaces                                                               6
other transformation processes not elsewhere classified                                    4
consumption by lng/regasification plants                                                   3
own use by charcoal plants                                                                 3
own use by gasworks                                                                        2
net transfers                                                                              1
Name: count, dtype: int64

In [24]:
# Nochmals prüfen: Was steht in additional_transaction_info?
display(split_commodities[2].str.lower().str.strip().value_counts())

2
main activity producers    18462
autoproducers              15788
electricity plants          5887
chp plants                  3974
heat plants                 1854
total                       1507
Name: count, dtype: int64

In [25]:
# Neue Spalten umbenennen, bevor wir sie ins Haupt-DataFrame einfügen
split_commodities.columns = ["commodity", "transaction_type", "additional_transaction_info"]

# Zusammenfügen entlang der Spaltenachse (axis=1)
df = pd.concat([df, 
                split_commodities["commodity"].str.lower(),
                split_commodities["transaction_type"],
                split_commodities["additional_transaction_info"].str.lower()], 
              axis=1)

# Vorschau: DataFrame nach Zusammenführung
display(df.head())

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category,commodity,transaction_type,additional_transaction_info
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates,additives and oxygenates,exports,None
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates,additives and oxygenates,exports,None
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates,additives and oxygenates,exports,None
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates,additives and oxygenates,exports,None
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates,additives and oxygenates,exports,None

## Dropping and renaming irrelevant Data

In [28]:
df.drop(columns=["commodity_transaction"], inplace=True)
df.drop(columns=["quantity_footnotes"], inplace=True)

In [29]:
unit_counts = df["unit"].value_counts()

# Ausgabe
print("Verfügbare Einheiten und deren Häufigkeit:")
display(unit_counts)

Verfügbare Einheiten und deren Häufigkeit:

unit
Metric tons,  thousand     759859
Terajoules                 178937
Kilowatt-hours, million    147741
Cubic metres, thousand      52032
Kilowatts,  thousand        50229
Metric Tons                   684
Name: count, dtype: int64

In [30]:
# Zeilen filtern, wo die Einheit "Metric Tons" ist
df_metric_tons = df[df["unit"] == "Metric Tons"]

# Vorschau
display(df_metric_tons)

print(f"Anzahl Zeilen mit Einheit 'Metric Tons': {df_metric_tons.shape[0]}")

,country_or_area,year,unit,quantity,category,commodity,transaction_type,additional_transaction_info
1177352,Argentina,2011,Metric Tons,11000.0,uranium,uranium,estimated additional reserves,None
1177353,Australia,2011,Metric Tons,558700.0,uranium,uranium,estimated additional reserves,None
1177354,Botswana,2011,Metric Tons,59100.0,uranium,uranium,estimated additional reserves,None
1177355,Brazil,2011,Metric Tons,121000.0,uranium,uranium,estimated additional reserves,None
1177356,Canada,2011,Metric Tons,192500.0,uranium,uranium,estimated additional reserves,None
...,...,...,...,...,...,...,...,...
1178031,Uzbekistan,2014,Metric Tons,59400.0,uranium,uranium,reasonably assured reserves,None
1178032,Uzbekistan,2011,Metric Tons,64300.0,uranium,uranium,reasonably assured reserves,None
1178033,Viet Nam,2011,Metric Tons,1000.0,uranium,uranium,reasonably assured reserves,None
1178034,Zambia,2011,Metric Tons,9900.0,uranium,uranium,reasonably assured reserves,None
1178035,Zimbabwe,2011,Metric Tons,1400.0,uranium,uranium,reasonably assured reserves,None

Anzahl Zeilen mit Einheit 'Metric Tons': 684

In [31]:
# Bedingung: Nur Zeilen mit Einheit "Metric Tons"
mask_metric_tons = df["unit"] == "Metric Tons"

# Menge durch 1000 teilen
df.loc[mask_metric_tons, "quantity"] = df.loc[mask_metric_tons, "quantity"] / 1000

# Einheit umbenennen auf "Metric tons, thousand", damit alles konsistent ist
df.loc[mask_metric_tons, "unit"] = "Metric tons, thousand"

print("Anpassung abgeschlossen. Einheit und Mengen für 'Metric Tons' sind jetzt normalisiert.")

Anpassung abgeschlossen. Einheit und Mengen für 'Metric Tons' sind jetzt normalisiert.

## Bereinigtes CS Speichern und Check-Load: Gespeicherte Datei neu einlesen und prüfen

In [32]:
# Bereinigtes DataFrame als neue CSV speichern
# Neuer Pfad und Dateiname
OUTPUT_CLEANED_FILE = "/Users/yanickfischer/Documents/vsCode/MDM/mdm-project2-data-wrangling/data/energy_cleaned.csv"

# DataFrame als CSV speichern, ohne zusätzlichen Index
df.to_csv(OUTPUT_CLEANED_FILE, index=False)

print(f"Datei erfolgreich gespeichert unter: {OUTPUT_CLEANED_FILE}")

Datei erfolgreich gespeichert unter: /Users/yanickfischer/Documents/vsCode/MDM/mdm-project2-data-wrangling/data/energy_cleaned.csv

In [33]:
# Datei neu einlesen
try:
    df_check = pd.read_csv(OUTPUT_CLEANED_FILE)
    print("Datei erfolgreich neu geladen. Vorschau:")
    display(df_check.head())
    
    print("\nForm der geladenen Datei:")
    print(df_check.shape)
except FileNotFoundError:
    print(f"Fehler: Datei {OUTPUT_CLEANED_FILE} nicht gefunden.")

Datei erfolgreich neu geladen. Vorschau:

/var/folders/2k/c1ct_2b11hl7zvvtlkp0f5ww0000gn/T/ipykernel_63832/1628874401.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_check = pd.read_csv(OUTPUT_CLEANED_FILE)

,country_or_area,year,unit,quantity,category,commodity,transaction_type,additional_transaction_info
0,Austria,1996,"Metric tons, thousand",5.0,additives_and_oxygenates,additives and oxygenates,exports,NaN
1,Austria,1995,"Metric tons, thousand",17.0,additives_and_oxygenates,additives and oxygenates,exports,NaN
2,Belgium,2014,"Metric tons, thousand",0.0,additives_and_oxygenates,additives and oxygenates,exports,NaN
3,Belgium,2013,"Metric tons, thousand",0.0,additives_and_oxygenates,additives and oxygenates,exports,NaN
4,Belgium,2012,"Metric tons, thousand",35.0,additives_and_oxygenates,additives and oxygenates,exports,NaN

Form der geladenen Datei:
(1189482, 8)

## Filter for European countries

In [34]:
# Liste europäischer Länder (sorgfältig zusammengestellt)
european_countries = [
    "Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia",
    "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece",
    "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg",
    "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland",
    "Portugal", "Romania", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland",
    "Ukraine", "United Kingdom", "Vatican City"
]

# DataFrame auf europäische Länder filtern
df_europe = df[df["country_or_area"].isin(european_countries)]

# Vorschau auf das Ergebnis
display(df_europe.head())

print(f"Anzahl Zeilen nach Filterung auf europäische Länder: {df_europe.shape[0]}")

,country_or_area,year,unit,quantity,category,commodity,transaction_type,additional_transaction_info
0,Austria,1996,"Metric tons, thousand",5.0,additives_and_oxygenates,additives and oxygenates,exports,None
1,Austria,1995,"Metric tons, thousand",17.0,additives_and_oxygenates,additives and oxygenates,exports,None
2,Belgium,2014,"Metric tons, thousand",0.0,additives_and_oxygenates,additives and oxygenates,exports,None
3,Belgium,2013,"Metric tons, thousand",0.0,additives_and_oxygenates,additives and oxygenates,exports,None
4,Belgium,2012,"Metric tons, thousand",35.0,additives_and_oxygenates,additives and oxygenates,exports,None

Anzahl Zeilen nach Filterung auf europäische Länder: 417186

In [35]:
# Alle einzigartigen Länder im DataFrame extrahieren und alphabetisch sortieren
unique_countries = sorted(df["country_or_area"].unique())

# Anzeige aller Länder
print("Liste der vorhandenen Länder im Datensatz:")
for country in unique_countries:
    print(country)

# Gesamtzahl der unterschiedlichen Länder
print(f"\nAnzahl unterschiedlicher Länder im Datensatz: {len(unique_countries)}")

Liste der vorhandenen Länder im Datensatz:
Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antarctic Fisheries
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia (Plur. State of)
Bonaire, St Eustatius, Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Rep.
Chad
Chile
China
China, Hong Kong SAR
China, Macao SAR
Colombia
Commonwealth of Independent States (CIS)
Comoros
Congo
Cook Islands
Costa Rica
Croatia
Cuba
Curaçao
Cyprus
Czechia
Czechoslovakia (former)
Côte d'Ivoire
Dem. Rep. of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Ethiopia
Ethiopia, incl. Eritrea
Faeroe Islands
Falkland Is. (Malvinas)
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
German Dem. R. (former)
Germany
Germany, Fed. R. (former)
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Rep. of)
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kiribati
Korea, Dem.Ppl's.Rep.
Korea, Republic of
Kuwait
Kyrgyzstan
Lao People's Dem. Rep.
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia (Fed. States of)
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Neth. Antilles (former)
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
Northern Mariana Islands
Norway
Oman
Other Asia
Pacific Islands (former)
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Republic of Moldova
Romania
Russian Federation
Rwanda
Réunion
Samoa
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Serbia and Montenegro
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
St. Helena and Depend.
St. Kitts-Nevis
St. Lucia
St. Pierre-Miquelon
St. Vincent-Grenadines
State of Palestine
Sudan
Sudan (former)
Suriname
Swaziland
Sweden
Switzerland
Syrian Arab Republic
T.F.Yug.Rep. Macedonia
Tajikistan
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
USSR (former)
Uganda
Ukraine
United Arab Emirates
United Kingdom
United Rep. of Tanzania
United States
United States Virgin Is.
Uruguay
Uzbekistan
Vanuatu
Venezuela (Bolivar. Rep.)
Viet Nam
Wallis and Futuna Is.
Yemen
Yemen Arab Rep. (former)
Yemen, Dem. (former)
Yugoslavia, SFR (former)
Zambia
Zimbabwe

Anzahl unterschiedlicher Länder im Datensatz: 243

In [37]:
# Mapping von alternativen zu gesuchten Ländernamen
country_name_mapping = {
    "Czechia": "Czech Republic",
    "Republic of Moldova": "Moldova",
    "T.F.Yug.Rep. Macedonia": "North Macedonia"
    # Kosovo, Monaco, San Marino, Vatican City könnten tatsächlich fehlen
}

# Ländernamen im DataFrame ersetzen
df["country_or_area"] = df["country_or_area"].replace(country_name_mapping)

print("Ländernamen angepasst. Jetzt sind alternative Bezeichnungen vereinheitlicht.")

# Liste europäischer Länder (wie vorher definiert)
european_countries = [
    "Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia",
    "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece",
    "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg",
    "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland",
    "Portugal", "Romania", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland",
    "Ukraine", "United Kingdom", "Vatican City"
]

# Alle eindeutigen Länder im Datensatz
unique_countries = set(df["country_or_area"].unique())

# Vergleich: Welche europäischen Länder fehlen?
missing_countries = [country for country in european_countries if country not in unique_countries]

# Ausgabe
if missing_countries:
    print("Diese europäischen Länder fehlen im Datensatz:")
    for country in missing_countries:
        print(f"- {country}")
else:
    print("Alle europäischen Länder aus der Liste sind im Datensatz vorhanden!")

Ländernamen angepasst. Jetzt sind alternative Bezeichnungen vereinheitlicht.
Diese europäischen Länder fehlen im Datensatz:
- Kosovo
- Monaco
- San Marino
- Vatican City

In [41]:
# Europäische Länderliste erneut definieren (falls nicht schon vorhanden)
european_countries = [
    "Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia",
    "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece",
    "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg",
    "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland",
    "Portugal", "Romania", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland",
    "Ukraine", "United Kingdom", "Vatican City"
]

# DataFrame auf europäische Länder filtern (nach dem Mapping)
df_europe = df[df["country_or_area"].isin(european_countries)]

# Vorschau auf das gefilterte DataFrame
display(df_europe.head())

# Anzahl Zeilen nach Filter
print(f"\nAnzahl Zeilen mit europäischen Ländern: {df_europe.shape[0]}")

# Einzigartige europäischen Länder im gefilterten Datensatz
unique_european_countries = sorted(df_europe["country_or_area"].unique())

print(f"\nAnzahl unterschiedlicher europäischer Länder im Datensatz: {len(unique_european_countries)}")
print("\nListe der im Datensatz enthaltenen europäischen Länder:")
for country in unique_european_countries:
    print(f"- {country}")

# Überprüfung, ob noch Länder fehlen
missing_countries_final = [country for country in european_countries if country not in set(unique_european_countries)]

if missing_countries_final:
    print("\nDiese europäischen Länder fehlen nach finaler Anpassung weiterhin:")
    for country in missing_countries_final:
        print(f"- {country}")
else:
    print("\nAlle europäischen Länder aus der Liste sind jetzt im Datensatz vorhanden!")

,country_or_area,year,unit,quantity,category,commodity,transaction_type,additional_transaction_info
0,Austria,1996,"Metric tons, thousand",5.0,additives_and_oxygenates,additives and oxygenates,exports,None
1,Austria,1995,"Metric tons, thousand",17.0,additives_and_oxygenates,additives and oxygenates,exports,None
2,Belgium,2014,"Metric tons, thousand",0.0,additives_and_oxygenates,additives and oxygenates,exports,None
3,Belgium,2013,"Metric tons, thousand",0.0,additives_and_oxygenates,additives and oxygenates,exports,None
4,Belgium,2012,"Metric tons, thousand",35.0,additives_and_oxygenates,additives and oxygenates,exports,None

Anzahl Zeilen mit europäischen Ländern: 446601

Anzahl unterschiedlicher europäischer Länder im Datensatz: 41

Liste der im Datensatz enthaltenen europäischen Länder:
- Albania
- Andorra
- Austria
- Belarus
- Belgium
- Bosnia and Herzegovina
- Bulgaria
- Croatia
- Cyprus
- Czech Republic
- Denmark
- Estonia
- Finland
- France
- Germany
- Greece
- Hungary
- Iceland
- Ireland
- Italy
- Latvia
- Liechtenstein
- Lithuania
- Luxembourg
- Malta
- Moldova
- Montenegro
- Netherlands
- North Macedonia
- Norway
- Poland
- Portugal
- Romania
- Serbia
- Slovakia
- Slovenia
- Spain
- Sweden
- Switzerland
- Ukraine
- United Kingdom

Diese europäischen Länder fehlen nach finaler Anpassung weiterhin:
- Kosovo
- Monaco
- San Marino
- Vatican City

In [42]:
# Neuer Speicherpfad und Dateiname
OUTPUT_EUROPE_FILE = "/Users/yanickfischer/Documents/vsCode/MDM/mdm-project2-data-wrangling/data/energy_cleaned_europe.csv"

# DataFrame als CSV abspeichern, ohne Indexspalte
df_europe.to_csv(OUTPUT_EUROPE_FILE, index=False)

print(f"Europäischer Datensatz erfolgreich gespeichert unter: {OUTPUT_EUROPE_FILE}")

Europäischer Datensatz erfolgreich gespeichert unter: /Users/yanickfischer/Documents/vsCode/MDM/mdm-project2-data-wrangling/data/energy_cleaned_europe.csv

In [43]:
# Überblick über numerische Werte (Mittelwert, Standardabweichung, Min, Max usw.)
display(df_europe.describe())

# Überblick über die Häufigkeit der Commodities (Energieträger)
print("\nVerteilung der Energieträger (commodity):")
display(df_europe["commodity"].value_counts())

# Überblick über die Häufigkeit der Transaktionstypen (transaction_type)
print("\nVerteilung der Transaktionstypen (transaction_type):")
display(df_europe["transaction_type"].value_counts())

# Überblick über die verwendeten Einheiten
print("\nVerwendete Einheiten (unit):")
display(df_europe["unit"].value_counts())

                year      quantity
count  446601.000000  4.466010e+05
mean     2003.131966  3.597335e+04
std         7.062069  1.353547e+06
min      1990.000000 -4.772630e+05
25%      1997.000000  1.300000e+01
50%      2004.000000  1.920000e+02
75%      2009.000000  2.224000e+03
max      2014.000000  2.303000e+08

Verteilung der Energieträger (commodity):

commodity
electricity                                                  46497
gas oil/ diesel oil                                          30459
natural gas (including lng)                                  28035
fuel oil                                                     26256
hard coal                                                    17420
fuelwood                                                     16147
heat                                                         15373
liquefied petroleum gas (lpg)                                14500
other bituminous coal                                        14336
motor gasoline                                               12754
brown coal                                                   10599
other oil products n.e.c.                                     9015
kerosene-type jet fuel                                        8741
other kerosene                                                8676
petroleum coke                                                8533
lignite                                                       8527
biogases                                                      8426
from combustible fuels                                        7814
refinery gas                                                  6693
coke oven gas                                                 6591
lubricants                                                    6567
bitumen                                                       6412
liquified petroleum gas (lpg)                                 6353
industrial waste                                              6180
blast furnace gas                                             6153
naphtha                                                       6057
conventional crude oil                                        5063
vegetal waste                                                 4906
municipal wastes                                              4887
white spirit and special boiling point industrial spirits     4826
brown coal briquettes                                         4693
aviation gasoline                                             4571
charcoal                                                      4095
feedstocks                                                    3661
coking coal                                                   3580
gasworks gas                                                  3569
paraffin waxes                                                3461
peat                                                          3357
biodiesel                                                     3285
anthracite                                                    3242
black liquor                                                  2694
patent fuel                                                   2301
sub-bituminous coal                                           2294
additives and oxygenates                                      2262
direct use of solar thermal heat                              2253
natural gas liquids                                           2082
electricity generating capacity                               2044
biogasoline                                                   1964
of which: biodiesel                                           1952
direct use of geothermal heat                                 1776
of which: biogasoline                                         1441
crude petroleum                                               1428
hydro                                                         1420
peat products                                                 1415
other recovered gases                                         1403
coal tar                                                      1327
other liquid biofuels                                         1320
heat production                                               1286
ethane                                                        1032
nuclear                                                       1028
other hydrocarbons                                             964
from other sources                                             765
wind                                                           765
total refinery output                                          746
total refinery throughput                                      744
geothermal                                                     735
gasoline-type jet fuel                                         720
peat (for fuel use)                                            714
oil shale                                                      617
of which: pumped hydro                                         551
hrad coal                                                      521
solar                                                          514
solar photovoltaic                                             507
animal waste                                                   379
coal                                                           348
lignite brown coal                                             265
from chemical heat                                             258
from chemical sources                                          240
uranium                                                        225
falling water                                                  195
from electric boilers                                          157
lignite brown coal- recoverable resources                      150
from heat pumps                                                135
gas oil/ diesel oil                                            119
solar thermal                                                   78
bagasse                                                         64
gas coke                                                        59
tide, wave and marine                                           31
municipal waste                                                  3
Name: count, dtype: int64

Verteilung der Transaktionstypen (transaction_type):

transaction_type
total energy supply                                                                    26387
final consumption                                                                      21858
final energy consumption                                                               20287
imports                                                                                19493
production                                                                             18456
stock changes                                                                          14757
exports                                                                                14201
transformation                                                                         13587
consumption by other                                                                   13430
consumption by households                                                               9980
transformation in electricity, chp and heat plants                                      9840
consumption by other manuf., const. and non-fuel ind.                                   9331
main activity                                                                           9246
transformation in chp plants                                                            8664
production from refineries                                                              8556
energy industries own use                                                               7758
consumption by manufacturing, construction and non-fuel industry                        7746
non-energy uses                                                                         6564
consumption by commerce and public services                                             6540
consumption by manufacturing, construction and non-fuel mining industry                 6484
consumption by transport                                                                6324
transformation in electricity plants                                                    6271
consumption by non-metallic minerals                                                    6205
consumption by chemical and petrochemical                                               5772
autoproducer                                                                            5752
transformation in heat plants                                                           5471
consumption by paper, pulp and print                                                    5313
consumption by food and tobacco                                                         5242
consumption in agriculture, forestry and fishing                                        5164
consumption not elsewhere specified (industry)                                          5099
consumption by iron and steel                                                           5020
transfers and recycled products                                                         4926
consumption by machinery                                                                4625
own use by oil refineries                                                               4377
losses                                                                                  4376
consumption by textile and leather                                                      4010
consumption by construction                                                             3786
consumption by wood and wood products                                                   3472
consumption by mining and quarrying                                                     3224
consumption by transport equipment                                                      3185
consumption by non-ferrous metals                                                       2974
consumption by other manuf., const. and non-fuel min. ind.                              2962
consumption not elsewhere specified (other)                                             2958
consumption in road                                                                     2932
transformation in oil refineries                                                        2154
receipts from other sources                                                             1907
own use by coal mines                                                                   1894
consumption by agriculture, forestry and fishing                                        1887
own use by electricity, heat and chp plants                                             1762
gross production                                                                        1740
gross demand                                                                            1739
net production                                                                          1739
consumption by iron and steel industry                                                  1677
other energy industry own use                                                           1669
own use by coke ovens                                                                   1646
own use by oil and gas extraction                                                       1546
consumption by industries not elsewhere specified                                       1501
international marine bunkers                                                            1442
consumption by non-metallic minerals industry                                           1405
consumption by road                                                                     1404
transformation in petrochemical plants                                                  1302
consumption by chemical and petrochemical industry                                      1164
consumption by rail                                                                     1157
own use by electricity, chp and heat plants                                             1098
transformation in coke ovens                                                            1041
consumption in transport                                                                1004
consumption in rail                                                                      986
international aviation bunkers                                                           984
consumption by food and tobacco industry                                                 983
total production, main activity                                                          953
total net installed capacity of electric power plants, main activity & autoproducer      952
total net installed capacity of electric power plants, main activity                     952
total net installed capacity of electric power plants, combustible fuels                 939
total thermal production                                                                 937
net installed capacity of electric power plants, public combustible fuels                931
total hydro production                                                                   903
net installed capacity of electric power plants, public hydro                            902
total net installed capacity of electric power plants, hydro                             902
consumption by machinery industry                                                        875
total net installed capacity of electric power plants, autoproducer                      873
net installed capacity of electric power plants, self-producer combustible fuels         872
consumption not elsewhere specified (transport)                                          863
pumped hydro                                                                             860
total production, autoproducer                                                           848
other transformation                                                                     845
consumption by commercial and public services                                            825
solar pv                                                                                 805
main activity total                                                                      757
refinery capacity                                                                        754
transformation in autoproducer chp plants                                                743
consumption in domestic navigation                                                       689
consumption by domestic aviation                                                         682
consumption by non-ferrous metals industry                                               674
transformation in main activity electricity plants                                       673
transformation in briquetting plants                                                     666
consumption by domestic navigation                                                       642
total net installed capacity of electric power plants, wind                              631
transformation in blast furnaces                                                         626
consumption by mining and quarrying industry                                             625
total wind production                                                                    602
net installed capacity of electric power plants, public wind                             574
memo:gross production                                                                    574
consumption in domestic aviation                                                         565
own use by briquetting plants                                                            559
net installed capacity of electric power plants, self-producer hydro                     549
autoproducer total                                                                       529
reserves                                                                                 517
consumption by pipeline transport                                                        516
own use by pump-storage plants                                                           509
consumption for non-energy uses                                                          500
consumption by textile and leather industry                                              490
transformation in gas works                                                              483
transformation in autoproducer heat plants                                               473
transformation in main activity chp plants                                               469
changes in stocks                                                                        455
total net installed capacity of electric power plants, solar                             446
own use by gas works                                                                     434
consumption by other manufacturing, construction and non-fuel mining industry            433
transformation in main activity producer electricity plants                              417
consumption by transport equipment industry                                              412
total solar production                                                                   403
total net installed capacity of electric power plants, nuclear                           403
total nuclear production                                                                 403
net installed capacity of electric power plants, public nuclear                          403
consumption by construction industry                                                     395
transformation in main activity producer chp plants                                      380
consumption by other consumers                                                           369
own use by blast furnaces                                                                361
transformation in charcoal plants                                                        347
from other sources                                                                       339
transformation in main activity heat plants                                              321
transformation in autoproducer electricity plants                                        311
net installed capacity of electric power plants public solar                             288
net installed capacity of electric power plants, self-producer solar                     278
production from plants                                                                   271
consumption by wood and wood products industry                                           267
total resources in place                                                                 264
consumption in commerce and public services                                              261
total known reserves                                                                     249
transformation in main activity producer heat plants                                     242
consumption by other consumers not elsewhere specified                                   239
net installed capacity of electric power plants, self-producer wind                      231
total resources                                                                          226
total hydraulic resources                                                                195
consumption by food, beverage and tobacco industry                                       189
non-energy use                                                                           185
flared and vented                                                                        183
flared                                                                                   180
own use by nuclear fuel extraction and processing                                        177
used for electric boilers                                                                159
used for electricity production                                                          142
used for heat pumps                                                                      130
recoverable reserves                                                                     125
total net installed capacity of electric power plants, geothermal                        113
net installed capacity of electric power plants, public geothermal                       113
additional resources                                                                     107
consumption in households                                                                105
total geothermal production                                                               95
vented                                                                                    87
production from off-shore                                                                 86
extraction loss shrinkage                                                                 77
consumption by coal mines                                                                 73
transformation main activity chp plants                                                   63
transformation in natural gas blending plants                                             63
recoverable                                                                               56
own use by biogas production plants                                                       52
transformation main activity heat plants                                                  48
consumption by briquetting plants                                                         47
transformation in other energy-producing plants                                           43
total net installed capacity of electric power plants, tide, wave, marine                 41
solar thermal                                                                             40
commerce and public services                                                              39
reserves from oil shale and tar sands                                                     38
consumption by other transportation                                                       36
consumption by other manufacturing, construction and non-fuel                             32
total tide, wave production                                                               31
consumption by energy sector                                                              31
own use by coal liquefaction plants                                                       30
reserves from oil shale                                                                   29
consumption by chemical industry                                                          29
net installed capacity of electric power plants, public tide, wave, marine                26
transformation in coal liquefaction plants                                                23
consumption by other transport                                                            23
conversion in briquetting plants                                                          22
own use in coal mines                                                                     21
consumption by industry & construction                                                    20
consumption by other industries and construction                                          20
reasonably assured reserves                                                               16
net installed capacity of electric power plants, self-producer tide, wave, marine         15
net installed capacity of electric power plants, self-producer nuclear                    15
own use by lng/regasification plants                                                      15
reserves from tar sands                                                                   13
estimated additional reserves                                                             13
re-injected                                                                               13
consumption by electricity, chp and heat plants                                            9
own use in coke ovens                                                                      9
own use by other energy producers                                                          6
net installed capacity of electric power plants, self-producer geothermal                  6
own use in electricity, chp and heat plants                                                5
other transformation processes not elsewhere classified                                    4
consumption by lng/regasification plants                                                   3
consumption by chemical and petrochemicalindustry                                          2
net transfers                                                                              1
Name: count, dtype: int64

Verwendete Einheiten (unit):

unit
Metric tons,  thousand     272581
Terajoules                  99032
Kilowatt-hours, million     45117
Cubic metres, thousand      16147
Kilowatts,  thousand        13499
Metric tons, thousand         225
Name: count, dtype: int64